@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100&display=swap');

:root {
   --white-color: #ffffff;
   --heading-color: #3c3b3d;
   --text-color: #0a0a0a;
   --green-color: #124e3b;
   --footer-color: #fbf9f6;
}

/* 
   NOTAS: 1rem equivale a 16px.
*/

html {
   height: 100%;
}

body {
   background-color: var(--white-color);
   font-family: 'Poppins', sans-serif;
   margin: 0;
   height: 95%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: var(--heading-color);
   line-height: 1.5;
}

h1 {
   font-size: 40px;
   font-weight: bold;
   font-style: normal;
   letter-spacing: .2px;
}

h2 {
   font-weight: 700;
   font-size: 2rem;
}

h3 {
   font-weight: 700;
   font-size: 1.25rem;
}

h4 {
   font-size: 1.25rem;
   font-weight: 700;
   margin: 1.33rem 0;
}

h5 {
   font-size: 1rem;
   font-weight: 600;
}

h6 {
   font-size: 0.8rem;
   font-weight: 500;
}

p {
   color: var(--text-color);
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.5;
   margin: 1em 0;
}

ul {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   list-style: none;
   margin: 0;
   padding: 0;
   padding-inline-start: 40px;
   font: 400;
}

a {
   text-decoration: none;
   color: var(--text-color);
}

a:hover {
   color: var(--green-color);
}

.container {
   display: flex;
   height: 100%;
   min-height: 100%;
   align-items: flex-end;
   width: 100%;
}

.nav-container {
   background: #0099CC;
   height: 100%;
   width: 40%;
}

p.nav3 {
   position: block;
   margin-top: -40px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   text-align: center;
   color: #003366;
}

ul.nav1 {
   width: 400px;
   padding: 10px;
   display: block;
}

li.nav2 {
   padding: 10px;
   text-align: left;
}

.background-image-container {
   background-image: url("images/mainpage_background.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   display: flex;
   flex: 0 0 auto;
   flex-direction: column;
}

.footer {
   position: fixed;
   width: 100%;
   height: 5%;
   left: 0px;
   background: #FF4438;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}